<!DOCTYPE html>
<html>

<head>
    <title>success </title>
    <link rel="stylesheet" type="text/css" href="/static/css/deletestyles2.css">
    <script src="/static/js/delete.js"></script>
</head>

<body>
    <center>
        <h2>Your Order is book SuccessFully </h2>
        <h4>
            <a href="/invoice/booking.booking_id/">click to view invoice</a>
        </h4>
        <!-- <p>Are you sure you want to delete service"{{ service.service_id }}"?</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" href="/servicelist/" onclick="remove()">
        </form>
        <br>
        <a href="/servicelist/">Back</a> -->
    </center>
</body>

</html>