 {% extends 'admin/dsbrd.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update Admin</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="/static/css/createstyles.css">
    <script src="/static/js/update.js"></script>
</head>

<body>
    {% block content %}
    <center>
        <h1>Edit</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="admin_id" value="{{ admin.admin_id }}">

            <label for="admin_name">Admin Name:</label>
            <input type="text" id="admin_name" name="admin_name" value="{{ admin.admin_name }}" required><br>

            <label for="admin_pass">Admin Password:</label>
            <input type="password" id="admin_pass" name="admin_pass" value="{{ admin.admin_pass }}" required><br>

            <button type="submit" href="/adminlist/" onclick="update()">Update</button>
        </form>
        <a href="/adminlist/">Back</a>
    </center>
    {% endblock %}
</body>

</html>