{% extends 'admin/dsbrd.html' %}
<!DOCTYPE html>
<html>

<head>
    <title>Delete Designation</title>
    <link rel="stylesheet" type="text/css" href="/static/css/deletestyles.css">
    <script src="/static/js/delete.js"></script>
</head>

<body>
    {% block content %}
    <center>
        <h1>Are you sure you want to delete the designation "{{ designation.designation_id }}"?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" href="/designationlist/" onclick="remove()">Confirm</button>
        </form>
        <a href="/designationlist/">Back</a>
    </center>
    {% endblock %}
</body>

</html>