{% extends 'admin/dsbrd.html' %}
<!DOCTYPE html>
<html>

<head>
    <title>Delete Inventory</title>
    <link rel="stylesheet" type="text/css" href="/static/css/deletestyles.css">
    <script src="/static/js/delete.js"></script>
</head>

<body>{% block content %}
    <center>
        <h1>Are you sure you want to delete the inventory with ID {{ inventory.inventory_id }}?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" onclick="remove()" href="/inventorylist/">Confirm</button>
        </form>
        <a href="/inventorylist/">Back</a>
    </center>
    {% endblock %}
</body>

</html>